#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    font-family: "HK Grotesk", sans-serif;

    #content {
        position: relative;
        flex: 1;

        @include ie {
            flex-basis: auto;
        }
    }
}

.hidden {
    display: none;
}

body {

    @include media-down(m) {

        &.menu-show {
            overflow: hidden;
        }
    }

    &.overflow {
        overflow: hidden;
    }
}
