.site-footer {
    padding: 30px 5px;
    background-color: black;
    color: white;

    @include media-up(m) {
        padding: 50px 30px;
    }

    .inner {
        display: flex;
        flex-direction: column;

        @include media-up(m) {
            flex-direction: row;
        }

        .block {
            flex: 1;

            p:first-child {
                font-weight: 700;
            }

            &:not(:first-child) {
                margin-top: 28px;

                @include media-up(m) {
                    margin-top: 0;
                }
            }

            &.links {
                .follow-us {
                    margin-top: 20px;

                    p {
                        margin-bottom: 10px;
                    }

                    a {
                        margin-right: 10px;
                    }
                }

                .page-links {
                    li:not(:first-child) {
                        margin-top: 10px;
                    }

                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .site-logo {
        text-align: right;
        margin-top: 15px;

        img {
            height: 30px;
            width: auto;
            filter: invert(100%);

            @include media-up(l) {
                height: 45px;
            }
        }
    }
}

