.site-header {
    background-color: var(--bg-color);
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 22px 5px;
    box-shadow: 0 2px 5px #00000033;
    transition: 0.5s;

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .site-logo {

            img {
                height: 30px;
                width: auto;

                @include media-up(l) {
                    height: 45px;
                }
            }
        }

        .menu-button {
            @include media-up(m) {
                display: none;
            }

            width: 35px;
            height: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            span {
                height: 3px;
                background-color: var(--txt-color);
                width: 100%;
                display: block;
            }
        }
    }
}
