.site-nav {
    @include media-up(m) {
        .nav-inner {
            display: flex;
    
            .search-form {
                width: 100%;
                z-index: 1002;
                background-color: black;
                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;
                color: white;
                transform: translateY(-100%);
                transition: 0.5s;
                padding: 25px 20px;
                display: flex;
                align-items: center;
    
                &.active {
                    transform: translateY(0);
                    pointer-events: all;
                }
    
                form {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
    
                    button {
                        background-color: black;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        display: inline-flex;
                    }
    
                    input {
                        background: transparent;
                        border: none;
                        color: #fff;
                        font-size: 26px;
                        font-weight: 500;
                        line-height: 30px;
                        outline: none;
                        width: 100%;
                        border-radius: 50px;
                        padding: 10px 30px;
                        margin: 0 20px;
                    }
    
                    .menu-button1 {
                        width: 35px;
                        height: 25px;
                        position: relative;
                        cursor: pointer;
        
                        span {
                            height: 3px;
                            background-color: white;
                            width: 100%;
                            display: block;
                            position: absolute;
                            top: 50%;
        
                            &:nth-child(1) {
                                transform: translateY(-50%) rotate(45deg);
                            }
        
                            &:nth-child(2) {
                                transform: translateY(-50%) rotate(-45deg);
                            }
                        }
                    }
                }
            }
        }
    
        .menu {
            display: flex;
            align-items: center;
            
            li {
                position: relative;
                margin-right: 25px;

                @include media-up(l) {
                    margin-right: 40px;
                    font-size: 20px;
                }

                a {
                    color: var(--txt-color);
                }

                &.active {
                    a {
                        font-weight: 700;
                    }

                    .submenu-trigger {
                        a {
                            font-weight: 500;
                        }

                        &.active {
                            a {
                                font-weight: 700;
                            }
                        }
                    }
                }

                &:hover {
                    a {
                        opacity: 0.7;
                    }

                    .submenu-trigger {
                        transform: translateY(0);
                        opacity: 1;
                        pointer-events: all;

                        a {
                            opacity: 1;

                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }

                .submenu-trigger {
                    position: absolute;
                    padding: 10px 20px;
                    background-color: var(--bg-color);
                    transform: translateY(-10%);
                    opacity: 0;
                    transition: 0.2s;
                    pointer-events: none;

                    ul {
                        border-left: 1px solid var(--txt-color);
                        padding: 10px 20px 0 10px;

                        li {
                            margin-right: 0;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

        .search-button {
            svg {
                width: 40px;
                height: auto;
            }
        }

        .top-bar {
            display: none;
        }
    }
    

    @include media-down(m) {
        height: calc(var(--vh, 1vh)*100);
        max-height: calc(var(--vh, 1vh)*100);
        width: 100%;
        z-index: 1001;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        color: white;
        transform: translateX(100%);
        transition: 0.5s;
        padding: 25px 20px;

        &.active {
            transform: translateY(0);
            pointer-events: all;
        }

        .nav-inner {
            height: 100%;
            display: flex;
            flex-direction: column;
            width: 100%;

            .top-bar {
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                .site-logo1 {
                    img {
                        height: 30px;
                        width: auto;
                        filter: invert(100%);
                    }
                }
    
                .menu-button1 {
                    width: 35px;
                    height: 25px;
                    position: relative;
                    cursor: pointer;
    
                    span {
                        height: 3px;
                        background-color: white;
                        width: 100%;
                        display: block;
                        position: absolute;
                        top: 50%;
    
                        &:nth-child(1) {
                            transform: translateY(-50%) rotate(45deg);
                        }
    
                        &:nth-child(2) {
                            transform: translateY(-50%) rotate(-45deg);
                        }
                    }
                }
            }
    
            .menu {
                text-align: right;
                margin-top: 90px;
                padding-right: 10px;
                max-height: 100%;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 2px;
                }
            
                &::-webkit-scrollbar-track {
                    background: transparent; 
                }
                   
                &::-webkit-scrollbar-thumb {
                background: #585757; 
                }
    
                li {
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 36px;
    
                    &:not(:first-child) {
                        margin-top: 29px;
                    }
    
                    &.active {
                        a {
                            font-weight: 700;
                        }
                    }
    
                    ul > li {
                        font-size: 24px;
                        margin-top: 15px !important;
                        line-height: 30px;
                    }
                }
            }

            .search-button {
                margin-top: auto;
                padding-top: 70px;
                text-align: right;

                svg {
                    cursor: pointer;
                }
            }

            .search-form {
                height: calc(var(--vh, 1vh)*100);
                max-height: calc(var(--vh, 1vh)*100);
                width: 100%;
                z-index: 1002;
                background-color: black;
                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;
                color: white;
                transform: translateY(100%);
                transition: 0.5s;
                padding: 25px 20px;

                &.active {
                    transform: translateY(0);
                    pointer-events: all;
                }

                form {
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;

                    button {
                        background-color: black;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        display: inline-flex;
                        margin-bottom: 24px;
                        margin-right: auto;
                    }

                    input {
                        background: transparent;
                        border: none;
                        color: #fff;
                        font-size: 32px;
                        font-weight: 500;
                        line-height: 42px;
                        outline: none;
                        width: 100%;
                        border-radius: 50px;
                        padding: 13px 30px;
                    }
                }
            }
        }
    }
}